.App {
  text-align: center;
  background-image: linear-gradient(
    rgba(0,0,0,.1),
    rgba(0,0,0,.1)
  ),
    url('./public/background.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  
}

.App-header {
  /* background: #f9fafa; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

footer {
  background: #f9fafa;
  border-top: 1px solid #a3aab8;
  min-height: 50px;
}

footer p {
  color: #888;
}

.Todos-container {
  margin-top: 50px;
  flex-grow: 1;
  
}

